@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-wrap: normal;
}
/* front 1 */
.logo {
 margin-left: 4.5em;
}

.nav_all_items {
  margin-right: 8em;
}

.nav-item{
  margin-right: 1rem;
}

.banner {
  /* background-color: black;*/

  background-size: 100% 100%;
  height: 715px;
  text-align: left;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(187, 20, 20); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/banners/1.2.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner p {
  /*border: 1px solid rgb(187, 20, 20);*/
  
    
    width: 22em;
    margin-left: 3.1em;
    padding-top:250px;
    text-align: left;
    font-family: "Poppins";
    font-weight: 299;
    font-size: 31px;
}
.img-responsive{
  width: 30rem;

}
.content {
  color: aliceblue;
  text-align: left;
  margin: 0 3em;
  width: 33em;


 

  /*
    border: 1px solid rgb(138, 11, 11);*/
  font-family: "Poppins", sans-serif;
}

.photos_row{
  margin-top: 3rem;
} 

.call{
    padding-top: 3.1em;
    margin-left: 3.1em;
}
.content h3 {
  font-size: unset;
  overflow-y: hidden;
  margin-left: 3.1em;
}

.button_1{
    background-color:#B41010;
    color: aliceblue;
} 

.navbar {
  background-color: black;
  /*border: 1px solid rgb(223, 64, 64);*/
}

/* Grid section */
.grid {
  background-color: black;
}

.photos {
  margin: 0;
}

.photos1 {
  margin: 0;
  padding-top: 1em;
}

.img-responsive{
  width:100%;
}
/* experience Content */
.experience_content {
  background-color: black;
  width: 100%;
  height: 43em;
  color: aliceblue;
  overflow-x: hidden;
}
.all_cards{
  padding-top: 3em;

}


.heading {
  padding-top: 6.5em;
  align-items: center;
  width: 100%;
}
.card {
  width: 18em;
  margin: 1rem;
  color: black;
  height: 22em;
}

.card_logo1{
  width: 12rem;
  margin-left: 3.2rem;
  margin-top: 3rem;
}

.card_logo2{
  width: 14rem;
  margin-left: 2em;
  margin-top: 2rem;
}
.card_logo3{
  width: 13rem;
  margin-left: 2.5em;
  margin-top: 3rem;
}
.card_logo4{
  width: 10rem;
  margin-left: 4.3em;
  margin-top: 2rem;
}
.button_card1{
  margin-left: 4em;
  margin-top: 1.2em;

}

.button_card2{
  margin-left: 4em;
  margin-top: 1.7rem;

}

.button_card3{
  margin-left: 4em;
  margin-top: 1em;    

}

.button_card4{
  margin-left: 4em;
  margin-top: 2.2rem;
}

.card-text1{
  text-align: center;
  margin-top: 3rem;
}

.card-text2{
  text-align: center;
  margin-top: 1.2rem;
}
.card-text3{
  text-align: center;
  margin-top: 2rem;
}
.card-text4{
  text-align: center;
  margin-top: 2.5rem
}


/* banner 2  */
.banner_2 {
  background-size: 100% 100%;
  height: 331px;
  text-align: left;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(187, 20, 20); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/banners/2.png");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
    width: 100%;
    height:350px;
    background-color: #000;
    overflow: hidden ;
    
}


.footer_1{
    color: white;
    
    margin-top: 1em;
    font-size: 4em;


}

/* .footer_2{ 
    
border: 1px solid red;



}*/

.footer_row{
    justify-content: flex-start;
    margin-top: -4em;

}

.footer_content{
    margin-left: 2.5em;
    margin-top: 1em;
}

.footer_buttons{
    margin-top: 8.8em;
    margin-left: 15em;
}

.ft_btn{
    color: aliceblue;
    background-color: #B41010;
}


.final_footer{
  height: 50px;
  width: 100%;
  background-color: #B41010;
 

}

